github "krzyzanowskim/CryptoSwift" ~> 0.8
github "attaswift/BigInt" ~> 3.1
github "Boilertalk/secp256k1.swift" ~> 0.1
github "mxcl/PromiseKit" ~> 6.0
github "Boilertalk/Web3.swift"
github "Alamofire/Alamofire" "5.0.0.beta.1"
github "Hearst-DD/ObjectMapper" ~> 3.4
github "SwiftyJSON/SwiftyJSON" ~> 4.0
